.produto {
    &__imagem {
        width: 100%;
    }
    &__nome {
        font-size: 1.2em;
        margin: 8px 0;
    }
    &__descricao {
        color: gray;
    }
    &--em-destaque {
        border: 2px solid rgb(105, 55, 42);
        padding: 8px;
        background-color: #a13939;
    }
}